button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

button:hover{
  transform: scale(1.15);
  background: white;
}

.sizeInpt {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sizeInpt::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(94, 119, 138);
  cursor: pointer;
}

.sizeInpt::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(94, 119, 138);
  cursor: pointer;
}

