.header {
    background: pink;
}

.main {
    display:flex;
    background: yellow;
    height: 100hv;
}

.footer {
    background: cyan;
}

.container {
    display:grid;
    grid-template-columns: repeat(16, 0fr);
    background: orange;    
}

.lateral {
    background: red;
}

.cloneDiv {
    
    border: .1rem solid black;
    background: white;
    width: 1rem;
    height: 1rem;
}